body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: rgb(245, 205, 205);
}

#container {
  background: white;
  position: absolute;
  left: 25vw;
  top: 10vh;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 50vw;
}

#dog-image {
  width: 100px;
  border-radius: 20px;
  max-height: 80vh;
  flex: 1 1 300px;
  /* align-self: ; */
}

#head-title {
  align-self: flex-start;
  flex: 1 0 auto;
}
